.border{
    border: 2px solid red;
    margin: 10px;
}
.flex{
    display: flex;
}
.justify-center{
    justify-content: center;
}
.align-item{
    align-items: center;
}
.bg-black{
    background-color: black;
    color: white;
}
.invert{
    filter: invert(1);
}
.bg-gray{
    background-color:rgb(21, 20, 20);
}
.rounded{
    border-radius: 7px;
}

.m-1{
    margin: 3px;

}
.p-1{
    padding: 20px;
}